.amountSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button {
  font-size: 30px;
  font-weight: 800;
  background-color: var(--myBlack);
  color: var(--myWhite);
  padding: 0px;
  max-width: 30px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}

.buttonleft {
  font-size: 30px;
  font-weight: 800;
  background-color: var(--myBlack);
  color: var(--myWhite);
  padding: 0px;
  max-width: 30px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0px 0px 5px;
  transition: opacity 0.2s;
  padding-bottom: 2px;
  border: 0px;
  padding-top: 2px;
}

.buttonright {
  font-size: 30px;
  font-weight: 800;
  background-color: var(--myBlack);
  color: var(--myWhite);
  padding: 0px;
  border: 0px;
  max-width: 30px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 5px 5px 0px;
  transition: opacity 0.2s;
  padding-bottom: 2px;
  padding-top: 2px;
}

.addbutton {
  font-size: 15px;
  font-weight: 800;
  background-color: var(--myGreen);
  color: var(--myWhite);
  padding: 0px;
  border: 0px;
  min-height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: opacity 0.2s;
  padding-bottom: 2px;
  padding-top: 2px;
  transition: scale 0.2s;
}

.addbutton:hover{
  transition: scale 125ms;
  scale:0.98;
  cursor: pointer;
}


.buttonleft:hover,
.buttonright:hover {
  opacity: 0.8;
}
.input {
  height: 20px;
  width: 50px;
  border-radius: 0px;
  border: 1px solid #00000052;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding-bottom: 5px;
}
.icon {
  height: 10px;
  width: 10px;
}
