@font-face {
  font-family: Nirpa;
  src: url(../assets/Nirpa.ttf);
}

@font-face {
  font-family: PlayFair;
  src: url(../assets/PlayfairDisplay-Regular.ttf);
}

:root {
  --myWhite: #fffffa;
  --myGreen: #2A7A56;
  --myGold: #ffcc4c;
  --myBlack: #131200;
}

body{
  font-family: PlayFair;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 0.1px solid #b7b7b7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}
