.carousel {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  animation-timing-function: linear;
  animation-duration: 180s;
  animation-name: scrollInfinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.header {
  text-align: center;
  font-size: 40px;
}

@keyframes scrollInfinite {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-200%);
  }
}

@media (max-width: 1100px) {
  .carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    width: 100vw;
    animation-name: none;
  }
}
