.item {
  align-items: center;
  display: grid;
  font-size: 25px;
  grid-template-columns: 6fr 1fr 1fr 40px;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.item:nth-child(even) {
  background-color: rgba(62, 139, 62, 0.192);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  width: 100%;
}

.itemtext {
  margin: 5px;
}

.fallback {
  opacity: 0.6;
  text-align: center;
}

.line {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  align-items: center;
  background-color: rgb(230, 24, 24);
  border: 0px;
  border-radius: 5px;
  color: var(--myWhite);
  display: flex;
  height: 30px;
  justify-content: center;
  margin-right: 10px;
  transition: opacity 0.2s;
  width: 30px;
}

.button:hover {
  opacity: 0.9;
}
