.cartMain{
    background-color: var(--myWhite);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px; 
}

.title{
    margin: 0px;
    padding: 0px;
    font-size: 50px;
}

