.heroSection {
  align-items: center;
  background-color: var(--myBlack);
  color: var(--myWhite);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 850px;
  padding: 0px 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/hero.jpg);
  background-position: center;
  background-size: cover;
}
.heroElements {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

h2 {
  font-size: 94px;
  font-weight: 600;
  margin: 0px;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

.button {
  background-color: var(--myGreen);
  border: 0px;
  border-radius: 50px;
  color: var(--myWhite);
  font-size: 30px;
  padding: 15px 25px;
  transition: scale 450ms;
  width: 80%;
  width: 100%;
}

.button:hover {
  cursor: pointer;
  scale: 0.98;
}

.li {
  width: 90%;
}

@media (max-width: 1100px) {
  .heroElements {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .heroSection {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .heroElements {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .heroSection {
    justify-content: center;
    min-height: 750px;
  }

  h2 {
    font-size: 70px;
  }

  h3 {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .heroElements {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .heroSection {
    justify-content: center;
    min-height: 600px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 20px;
  }
  button {
    font-size: 25px;
  }
}
