.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.list {
  width: 100%;
}

.itemtext {
  margin: 5px;
}


.fallback {
  text-align: center;
  opacity: 0.6;
}
