.title {
  background-color: var(--myWhite);
  color: var(--myBlack);
  font-family: Nirpa;
  font-size: 4rem;
  font-weight: 400;
  margin: 0px;
}
.navBar {
  align-items: center;
  background-color: var(--myWhite);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 500;
}

svg:hover,
.link:hover {
  cursor: pointer;
}

.link {
  align-items: center;
  color: var(--myBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.buttons {
  align-items: center;
  color: var(--myBlack);
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.number {
  color: var(--myBlack);
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

@media (max-width: 400px) {
  .buttons {
    gap: 10px;
  }

  .navBar {
    padding: 10px 15px;
  }
}
