.item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.list {
  width: 100%;
}

.itemtext {
  margin: 5px;
}

.fallback {
  opacity: 0.6;
  text-align: center;
}

.summaryItem {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  width: 100%;
}
