.searchArea {
  align-items: center;
  background-color: var(--myWhite);
  border-bottom: 2px solid rgba(0, 0, 0, 0.068);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 90px;
}

.title {
  color: var(--myBlack);
  font-size: 40px;
}

.input {
  border: 2px solid rgba(0, 0, 0, 0.178);
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  width: 70%;
}

.input:focused {
  border: 2px solid var(--myGreen);
}

@media (max-width: 1500px) {
  .searchArea {
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .searchArea {
    border-bottom: 2px solid rgba(0, 0, 0, 0.068);
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }

  .title {
    color: var(--myBlack);
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  .input {
    border: 2px solid rgba(0, 0, 0, 0.178);
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    width: 40%;
  }
}
