.shoppingCart {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

@media (max-width: 1600px) {
  .shoppingCart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
  }
}
